/* The current user's picture and name */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; 
  width: 100%;
  color: white;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  background-color: rgb(133, 43, 43);
}

.yourName {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 40px;
  margin-bottom: 20px;
}

/* Query for if the user is on a desktop */
 
@media only screen and (min-width: 1024px ) {
  .header {
    margin: 5%;
    margin-right: 10%;
    height: 80%;
    width: 50%;
  }
  .avatar {
    margin-top: 20px; 
  }
}