.container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

#tweet-text {
  width: 800px ;
  height: 40px;
  margin-top: 40px;
  outline: none;
  border: none;
  border-bottom: 4px solid black;
  display: flex;
  background-color: inherit;
  resize: none;
  
}

#tweet-text::-webkit-input-placeholder {
  font-weight: bold;
}

[type="submit"] {
  background-color: #0f1a41;  
  color: white;
  font-family: Bungee, "sans-serif";
  font-size: 20px;
}

.buttonCounter {
  display: flex;
  justify-content:space-between ;
  font-family: Bungee, "sans-serif";
  padding-top: 15px;
}


article:hover {
  box-shadow: 5px 5px grey;
}
article {
  width: 100%;
  margin-top: 40px;
  border: 3px #0f1a41 solid;
  background-color: inherit;
  padding: 0.7em;
}


header{
  background-color: inherit;
  color: rgb(52, 52, 52);
  font-size: 15px;
}


.user {
  color: blue;
}

article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article footer {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid black;
  padding: 0.3em;
  
}

.flag:hover, .share:hover, .heart:hover {
  color: blue;
}


